.main3 {

}
.main3 .main3_inner {

}
.main3 .main3_inner .container-left {

}
.main3 .main3_inner .container-left h4 {

}
.main3 .main3_inner .container-left p {

}
.main3 .main3_inner .container-left .left-inner {

}
.main3 .main3_inner .container-left .left-inner img {

}
.main3 .main3_inner .container-left .left-inner h5 {

}

.main3 .main3_inner .container-left .left-image {

}
.main3 .main3_inner .container-left .left-image a {

}


.main3 .main3_inner .container-right {

}
.main3 .main3_inner .container-right img {
    max-width: 1024px;
    min-width: 767px;
    height: 100%;
}