.main3 {
width: 100%;
/*height: 576;*/
color: #505050;
}
.main3 .main3_inner {
    padding: 20px;
display: flex;
}
.main3 .main3_inner .container-left {
background-color: bisque;
}
.main3 .main3_inner .container-left h4 {

}
.main3 .main3_inner .container-left p {

}
.main3 .main3_inner .container-left .left-inner {

}
.main3 .main3_inner .container-left .left-inner img {

}
.main3 .main3_inner .container-left .left-inner h5 {

}

.main3 .main3_inner .container-left .left-image {

}
.main3 .main3_inner .container-left .left-image .why-soylent_link1 {
    border: 2px solid #505050;
    padding: 15;
    text-decoration: none;
    color: #505050;
}
.main3 .main3_inner .container-left .left-image .why-soylent_link2 {
    color: #505050;
}


.main3 .main3_inner .container-right {

}
.main3 .main3_inner .container-right img {
    max-width: 1024px;
    min-width: 767px;
    height: 100%;
}